/1_channel_firmware.bin
/1_channel_firmware_6.02dB.bin
/1_channel_firmware_12.06dB.bin
/6_channels_firmware.bin
/6_channels_firmware_6.02dB.bin
/6_channels_firmware_12.06dB.bin
/48k_1_channel_firmware.bin
/48k_1_channel_firmware_6.02dB.bin
/48k_6_channels_firmware.bin
/48k_6_channels_firmware_6.02dB.bin
